.directory-item {
  min-width: 30%;
  height: 240px;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0px 8px 15px;
  overflow: hidden;
}
.directory-item :hover {
  cursor: pointer;
}
.directory-item :hover .background-image {
  transform: scale(1.3);
  transition: transform 5s ease-out;
}
.directory-item :hover .content {
  opacity: 0.9;
}
.directory-item :first-child {
  margin-right: 8px;
}
.directory-item :last-child {
  margin-left: 8px;
}
.directory-item .large {
  height: 380px;
}
.directory-item .background-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.directory-item .content {
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
}
.directory-item .content .title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #151515;
}
.directory-item .content .subtitle {
  font-weight: lighter;
  font-size: 16px;
}
